body, html {
    font-family: 'Montserrat', Serif;
}
div#wrapper, footer{
    margin: auto;
    width: 1000px;
    padding: 20px;
}
.Banner {
    background-image: url("Images/recipebanner.jpg");

    min-height: 200px;
    max-width: 1500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;

}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color:  white;
}
article{
    display: inline-block;
    width: 30%;
    padding-right: 30px;
    vertical-align: top;
}
footer{
    background-color: gray;
    color:white;
}
footer a {
    color: Black;
    text-decoration: none;
}
article {
    display: inline-block;
    width: 27%;
    padding-right: 100px;
    vertical-align: top;
}
.article2 {
    display: inline-block;
    width: 47%;
    padding-right: 20px;
    vertical-align: top;

}
.Koken {
    display: inline-block;
    width: 40%;
    padding-right: 100px;
    vertical-align: top;
}
.Burger {
    display: inline-block;
    width: 40%;
    padding-right: 50px;
    vertical-align: top;
}
.Stappen {
    padding-right: 50px;
}

